<h1><%= @product_model.name %></h1>
<h2>Fornecedor: <%=@product_model.supplier.ficname%></h2>
<dl>
<dt>Peso:</dt>
<dd><%=@product_model.weight%> gramas</dd>
<dt>Dimensões: </dt>
<dd><%=@product_model.dimensions%></dd><%#metodo dimensions foi criado em product_model na pasta models%>
<dt>Código SKU: </dt>
<dd><%=@product_model.sku%></dd>
<dt>Categoria: </dt>
<dd><%=@product_model.category.name%></dd>
<dt>Status:</dt>
<dd><%=@product_model.status%></dd>
<%if @product_model.in?%>
  <div><%=button_to "Desativar", out_product_model_path, {method: 'patch'}%>
<%else%>
  <%=button_to "Ativar", in_product_model_path, {method: 'patch'}%></div>
<%end%>
<dt> Estoque: </dt>

<% @items = @product_model.product_items.group(:product_model).count %>
<% @items.each_pair do |product_model, quantity|%>               

  <div id="product-<%= product_model.id %>">
        Quantidade: <%= quantity %>
  </div>

<% end %>


</dl>
<%= link_to 'Voltar', root_path %>
