<h1><%= @category.name %></h1>

<% @category.product_models.each do |p|%>
  <table>
  
  <%= p.name%>
  <%= p.sku%>
  <% if user_signed_in? %><button><%= link_to 'Editar', edit_product_model_path(p) %></button>
  <%end%>
  
  <%end%>
</table>
<br>

<%= link_to 'Voltar', root_path %>
