<h1>Editando fornecedor</h1>
<% if @supplier.errors.any? %>
  <span>Verifique os campos abaixo:</span>
  <ul>
  <% @supplier.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: @supplier) do |form| %>
  <div>
    <%= form.label :namesoc, 'Razão Social' %>
    <%= form.text_field(:namesoc) %>
  </div>
  <div>
    <%= form.label :ficname, 'Nome Fantasia' %>
    <%= form.text_field(:ficname) %>
  </div>
  <div>
    <%= form.label :cnpj, 'CNPJ' %>
    <%= form.text_field(:cnpj) %>
  </div>
  <div>
    <%= form.label :address, 'Endereço' %>
    <%= form.text_field(:address) %>
  </div>
  <div>
    <%= form.label :email, 'Email' %>
    <%= form.text_field(:email) %>
  </div>
  <div>
    <%= form.label :tel, 'Telefone' %>
    <%= form.text_field(:tel) %>
  </div>
  <%= form.submit 'Gravar' %>
<% end %>